<h1>Apply your leave by fill the form below</h1>
<form novalidate name="form" submit-valid="submit(model)">
	<div class="columns">
		<div class="form-group">
			<label>Start Date</label>
			<div>
				<input type="text" class="form-control" placeholder="Start date"
				       datepicker-popup="{{'dd/MM/yyyy'}}" is-open="sopened" required ng-click="sopened = !sopened"
				       ng-model="model.StartDate" name="startDate" future-validator ng-change="getWorkingDays()" />
				<div class="error-messages" ng-if="form.attempted" ng-messages="form.startDate.$error" ng-messages-include="form-messages"></div>
			</div>
		</div>
		<div class="form-group">
			<label>End Date</label>
			<div>
				<input type="text" class="form-control" placeholder="End date"
				       datepicker-popup="{{'dd/MM/yyyy'}}" is-open="eopened" required ng-click="eopened = !eopened"
				       ng-model="model.EndDate" name="endDate" required gte-validator="model.StartDate" ng-change="getWorkingDays()"/>
				<div class="error-messages" ng-if="form.attempted" ng-messages="form.endDate.$error" ng-messages-include="form-messages"></div>
			</div>
		</div>
		<div class="form-group">
			<label>Duration In Days</label>
			<div>
				<span class="form-control" ng-bind="model.duration == null ? '--' : model.duration + ' days'"></span>
			</div>
		</div>
		<div class="form-group">
			<label>Reason</label>
			<div>
				<select class="form-control" ng-model="model.Reason" ng-options="r.key as r.name for r in options.ReasonOptions" name="reason" required>
					<option value="">--Select Reason--</option>
				</select>
				<div class="error-messages" ng-if="form.attempted" ng-messages="form.reason.$error" ng-messages-include="form-messages"></div>
			</div>
		</div>
	</div>
	<div class="whole">

		<div class="form-group">
			<label>Comment</label>
			<div>
				<textarea class="form-control" placeholder="Please type your comments" ng-model="model.Comment" name="comment" rows="5"></textarea>
			</div>
		</div>

		<div class="form-group">
			<button class="btn btn-primary" type="submit">Submit</button>
			<button class="btn btn-warning" ng-click="goBack()" type="button">Cancel</button>
		</div>
	</div>

</form>