<h1>Apply your leave by fill the form below</h1>
<form novalidate name="form" submit-valid="submit(model)">
	<div class="columns">
		<div class="form-group">
			<label>Start Date</label>
			<div>
				<input type="date" class="form-control" placeholder="Start date" ng-model="model.StartDate" name="startDate" required/>
				<div class="error-messages" ng-if="form.attempted" ng-messages="form.startDate.$error" ng-messages-include="form-messages"></div>
			</div>
		</div>
		<div class="form-group">
			<label>End Date</label>
			<div>
				<input type="date" class="form-control" placeholder="End date" ng-model="model.EndDate" name="endDate" required/>
				<div class="error-messages" ng-if="form.attempted" ng-messages="form.endDate.$error" ng-messages-include="form-messages"></div>
			</div>
		</div>
		<div class="form-group">
			<label>Reason</label>
			<div>
				<select></select>
				<div class="error-messages" ng-if="form.attempted" ng-messages="form.reason.$error" ng-messages-include="form-messages"></div>
			</div>
		</div>
	</div>
	<div class="whole">

		<div class="form-group">
			<label>Comment</label>
			<div>
				<textarea class="form-control" placeholder="Please type your comments" ng-model="model.Comment" name="comment" rows="5"></textarea>
			</div>
		</div>

		<div class="form-group">
			<button class="btn btn-primary" type="submit">Submit</button>
			<button class="btn btn-warning" type="button">Cancel</button>
		</div>
	</div>

</form>